<% layout("layouts/boilerplate")%>

<div class="row mt-3">
    <div class="col-8 offset-2">
    <h1>Create a New Listing</h1>
    <br>
    <form method="POST" action="/listings" novalidate class="needs-validation"> <!--enctype for upload image-->
        <div class="col-8">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter a catchy title" type="text" required>
        <div class="valid-feedback">
      Looks good!
    </div>
        </div>
        
        <div class="mb-3">
             <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required
       ></textarea>
       <div class="invalid-feedback">
      Enter a short description
    </div>
        </div>
         
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
             <input name="listing[image][url]" placeholder="enter image url/LINK" type="text" class="form-control" required>
             <div class="invalid-feedback">
      Enter a valid image
    </div>
        </div>

           <!-- <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
             <input name="listing[image][url]"  type="file" class="form-control" required>
             <div class="invalid-feedback">
      Enter a valid image
    </div>
        </div> -->
       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
             <input name="listing[price]" placeholder="1200"  class="form-control" required>
             <div class="invalid-feedback">
      Enter a valid price
    </div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">
      Enter a valid country
    </div>
        </div>
       </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Patna , Bihar" type="text" class="form-control" required>
            <div class="invalid-feedback">
     Enter a valid location
    </div>
        </div>

       
       
        <button class="btn btn-dark add-btn" type="submit">Add</button>
        <br /><br /> 
    </form>
    </div>
    </div>


